
---
# 문제 1

정수 n이 주어졌을 때, n보다 작으면서 3의 배수를 출력하는 함수를 작성하세요.

In [ ]:
# 입력 예시
n = 10
print_multiples_of_three(n)

#출력 예시
3, 6, 9


### 답안 작성



---
# 문제 2

리스트가 주어졌을 때, 평균보다 큰 숫자의 합을 구하는 함수를 작성하세요.

In [ ]:
# 입력 예시
numbers = [1, 3, 5, 7, 9]
print(sum_above_average(numbers))

#출력 예시
16


### 답안 작성



---
# 문제 3

문자열 s와 숫자 n이 주어집니다. 문자열 s를 n번 반복해서 출력하는 함수를 작성하세요.

In [ ]:
# 입력 예시
s = "안녕"
n = 3
print(repeat_string(s, n))

# 출력 예시
안녕안녕안녕


### 답안 작성


---
# 문제 4

정수 리스트가 주어졌을 때, 중복을 제거하고 각 숫자를 오름차순으로 정렬하여 반환하는 함수를 작성하세요.

In [ ]:
# 입력 예시
nums = [4, 2, 2, 1, 3, 3, 5, 1]
print(remove_duplicates(nums))

# 출력 예시
[1, 2, 3, 4, 5]

### 답안 작성


---
# 문제 5

정수 n이 주어졌을 때, n의 숫자를 뒤집어서 반환하는 함수를 작성하세요.

In [ ]:
# 입력 예시 (1)
n = 12345
print(reverse_number(n))

# 출력 예시 (1)
54321


# 입력 예시 (2)
n = -12345
print(reverse_number(n))

# 출력 예시 (2)
-54321

### 답안 작성